

<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--Bootstrap Styles Containers-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

  <style>  
  
  body{
  padding:50px;
  padding-top:150px;
  }
  
  </style>

  </head>
  

<body>

<div class="container">
<div class="jumbotron">
  <h1 class="text-center"><%= heading %></h1>
  <form class="form" id="myForm" action="/images" method="POST"">
			
   
    <div class="form-group">
      <label for="email">Enter Image Name to Search:</label>
      <input type="text" class="form-control" name="imageSearch" id="imageSearch" ng-model="imageSearch" placeholder="Enter Your Favorites to get Downloaded in the form of Image" required/>
    </div>
	<div class="form-group">
	
	<ul class="getImages">
  <% for(var i=0; i<getImages.length; i++) {%>
    <li class="quote">
      <span><%= getImages[i].url %></span>
     
    </li>
  <% } %>
  </ul>
	<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Images</th>
    </tr>
  </thead>
    
  <tbody ng-repeat='imgs in imgSearch | filter:imageSearch'>
    <tr>
	
	 
      <th scope="row">{{$index + 1}}</th>
      <td><img ng-src="{{imgs}}" class="img-responsive"/></td>
      
    </tr>
    
  </tbody>


</table>
	</div>
    
  
  </form>
</div><!--/jumbotron-->
</div><!--/container-->

  <!--Bootstrap Script Containers-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
</body> <!--body-->
</html>
